@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
    scrollbar-width: 0;
}

*::-webkit-scrollbar {
    height: 0;
    width: 0;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
}